@font-face {
  font-family: "HyundaiBold";
  src: url("/fonts/HyundaiSansHeadOffice-Bold.ttf");
  font-style: bold;
  font-weight: 900;
}
@font-face {
  font-family: "HyundaiLight";
  src: url("/fonts/HyundaiSansHeadOffice-Light.ttf");
  font-style: light;
  font-weight: 100;
}
@font-face {
  font-family: "HyundaiMedium";
  src: url("/fonts/HyundaiSansHeadOffice-Medium.ttf");
  font-style: medium;
  font-weight: 500;
}
@font-face {
  font-family: "HyundaiRegular";
  src: url("/fonts/HyundaiSansHeadOffice-Regular.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'HyundaiRegular', sans-serif;
}

.card-title.h5 {
  color: #0c2d5d;;

    font-family: "Hyundai Sans Head","Arial",sans-serif;
    font-size: 1.875rem;
    font-weight: 900;
    line-height: 2.25rem;
    max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.contenedor {
  z-index: 1;
}

.carousel-caption {
  position: absolute;
  left: 0;
  text-align: left;
  padding-left: 30px;
  bottom: 30%;
}

.carousel-caption h3 {
  color: #0C2D5D;
  font-size: 3rem;
}

.carousel-caption p {
  color: #333;
}

.elfooter {
  background: #000;
  padding: 50px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.elfooter div {
  padding: 10px 5px;
}

.elfooter h2 {
  color: #fff;
}

.elfooter h4 {
  color: #f2f2f2;
  font-size: 0.8rem;
  font-family: "HyundaiBold";
}

.elfooter p {
  color: #ddd;
  margin: 0;
  padding: 5px;
}

.elfooter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.categorias {
  padding: 20px;
}

.categorias .row {
  display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    align-items: center;
}

.card-img-overlay {
  background: rgba(0,0,0,0.3);
  margin-right: 90px;
  margin-left: 0;
  transition: all 1s;
}

.card-img-overlay:hover {
  margin-right: 0;
  cursor: pointer;
}

.card {
  border:none;
}

.card-text {
  font-size: 0.8rem;
}

.destacados h2 {
  padding: 50px 0;
  padding-bottom: 0;
}

.destacados p {
  padding-bottom: 50px;
}

.btn {
  border-radius: 0;
  border: 0;
}

.btn.btn-primary {
  background: #333;
}

.destacados .btn {
  float: right;
  font-size: 0.7rem;
}

.jumbotron {
  text-align: center;
}

.btn.btn-primary {
  background: #002c5e;
  padding: 10px 20px;
  transition: all 1s;
}

p.desde {
  color: #002c5e;
  font-family: "HyundaiBold";
  font-size: 1.5rem;
}

.btn.btn-primary:hover {
  background: #f3f3f3;
  color: #333;
}

.carta p {
  background: #f2f2f2;
  padding: 5px;
  margin-bottom: 0;
  font-weight: 900;
  margin-top: 1px;
}

.card-img-overlay .card-title.h5 {
  color: #fff;
}

.filtros {
  background: #f2f2f2;
  padding: 10px;
}

.filtros h2 {
  color: #333;
  font-family: 'HyundaiSansHead-Medium',Arial,sans-serif;
  font-size: 1.25rem;
  font-weight: 100;
  margin: 0;
  padding: 3px;
  font-weight: bold;
  
}

.categorias .detalles a {
  padding: 10px 30px;
  background: #0c2d5d;
  color: #fff;
  text-align: center;
  float: right;
}
.tab-content>.active {
  padding: 20px;
  font-family: 'HyundaiSansHead-Medium',Arial,sans-serif;
}

.nav-pills .nav-link {
  border-radius: 0;
  border-bottom: 1px solid #0c2d5d;
}

.nav-pills .nav-link:hover {
  background: #f2f2f2;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #0c2d5d;
}

.nav-tabs .nav-link, .tab-content h2 {
  border-radius: 0;
  font-family: "Hyundai Sans Head","Arial",sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.25rem;
    max-width: 100%;
    color: #0c2d5d;
}

.tab-content h2 {
  font-weight: bold;
  font-size: 2rem;
}

.filtros.container h2 {
  font-weight: bold;
  color: #0c2d5d;
}

.card-title.h5 {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 0;
  color: #222;
}

.card-body h5 {
  text-align: center;
  font-size: 1rem;
  color: #333;
  padding: 5px;
}

.btn.btn-secondary {
  padding: 10px 20px;
  font-weight: 100;
}

.menuprincipal ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menuprincipal ul li {
  position: relative;
  float: left;
}

.menuprincipal ul li a {
  font-family: "HyundaiBold", sans-serif;
  color: #666666;
  font-size: 0.8rem;
  padding: 10px 15px;
  text-align: center;
}

.menuprincipal p {
  font-family: "HyundaiBold", sans-serif;
  color: #666666;
  font-size: 0.8rem;
  padding: 5px;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.submenu {
  background: #f3f3f3;
  padding: 8px 0;
  margin: 0;
}

.submenu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.submenu ul li a {
  font-size: 0.7rem;
  margin: 0 30px;
  transition: all 1s;
}

.submenu ul li a:hover {
  font-weight: bold;
  text-decoration: none;
}

.card-body {
  padding: 0;
}

.card .btn.btn-primary {
  font-size: 0.7rem;
  float: left;
  transition: all 1s;
}

.card h3 {
  font-size: 1rem;
  font-family: "HyundaiMedium";
  margin: 0;
  padding: 0;
}

.detalles {
  margin-top: 15px;
  margin-bottom: 15px;
}

.detalles p {
  margin: 0;
  padding: 5px 0;
  font-size: 0.7rem;
}

.jumbotron {
  margin-bottom: 0;
}

.bannercontenedor {
  text-align: center;
  background: #f3f3f3;
  padding: 20px;
}

.bannercontenedor h4 {
  margin-bottom: 55px;
}

.bannerx {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.bannerx h5 {
  font-family: "HyundaiMedium";
  font-size: 1rem;
}

.bannerx .btn.btn-secondary {
  background: none;
  color: #012E5E;
  font-size: 0.8rem;
}

.linea {
  border: 0.1px solid #ddd;
}

.elfooter p {
  font-size: 0.7rem;
}

.legales, .redes, .terminos {
  background: #000;
}

.redes ul {
  margin: 0;
  padding: 0;
}

.legales ul {
  margin: 0;
  padding: 0;
}

.terminos p {
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
  padding: 15px;
  margin: 0;
}

.favoritos {
  font-size: 0.7rem;
}

table.filtros {
  font-size: 0.8rem;
  color: #333;
  font-family: "HyundaiBold";
}

table.filtros span.gris {
  color: #898989;
}

.bannercontenedor.producto {
  background: #fff;
  width: 100%;
}

.bannercontenedor.producto .bannerx {
  margin-bottom: 0;
}

.bannercontenedor.producto .bannerx p {
  display: none;
}

.bannercontenedor.producto .bannerx .btn.btn-secondary {
  width: 100%;
}

.entrada.card {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 230px;
}

.entrada.card .card-title.h5 {
  text-align: center;
  color: #F3F3F3;
  font-family: "HyundaiRegular";
  padding: 90px;
  padding-bottom: 30px;
  font-size: 3rem;
  padding-bottom: 120px;
}

.entrada.card .btn.btn-secondary {
  background: transparent;
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
}

.card-img-overlay {
  margin-right: 0;
}

.favoritos.dos {
  background: #fff;
  color: #012E5E;
}

.entrada.card .col h5 {
  font-size: 0.8rem;
  padding: 0;
  margin-bottom: 0;
}

.entrada.card .col p {
  margin: 0;
}

.politica {
  font-size: 0.7rem;
  display: block;
}

.entrada.banner {
  background: url('/hero.png') no-repeat center bottom; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bgn.entrada {
  background: url('/hero2.png') no-repeat center bottom; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bgn.entrada .introsub {
  text-align: center;
  padding: 90px;
  padding-bottom: 500px;
}

.bgn.entrada .introsub img {
  position: relative;
  top: 20%;
}

.bgn.entrada .introsub h2 {
  color: #fff;
  font-family: "HyundaiMedium";
  padding-top: 30px;
  font-size: 1.7rem;
}

.usuario.row {
  background-color: #0c2d5d;
  color: #fff;
  padding: 0;
  margin: 0;
}

.usuario.row p {
  margin: 0;
  padding: 5px 20px;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.submenu.container-fluid {
  padding: 10px;
}

.form-control {
  border-radius: 0;
  font-size: 0.8rem;
}

.form-label {
  font-size: 0.8rem;
  padding: 0;
  margin: 10px 0 0 0;
  color: #999;
}

.headdash {
  padding: 10px;
}

.headdash ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.headdash p {
  margin: 0;
  padding: 0;
}

.usuario.row p.btn-salir {
  background: #00AAD2;
  transition: all 1s;
  cursor: pointer;
}

.usuario.row p.btn-salir:hover {
  background: #dedede;
  color: #333;
}

.dropdown-menu {
  background-color: #022040;
  font-size: 0.8rem;
  color:#fff;
}

.dropdown-item {
  color: #fff;
  padding: 10px 20px;
}

.dropdown-item:hover {
  background-color: #00AAD240;
  color: #fff;
}