html,
body {
  padding: 0;
  margin: 0;
  font-family: 'HyundaiSansHead-Medium',Arial,sans-serif;
}

.card-title.h5 {
  color: #0c2d5d;;

    font-family: "Hyundai Sans Head","Arial",sans-serif;
    font-size: 1.875rem;
    font-weight: 900;
    line-height: 2.25rem;
    max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.contenedor {
  z-index: 1;
  margin-top: 50px;
}

.carousel-caption {
  position: absolute;
  left: 0;
  text-align: left;
  padding-left: 30px;
  bottom: 30%;
}

.carousel-caption h3 {
  color: #0C2D5D;
  font-size: 3rem;
}

.carousel-caption p {
  color: #333;
}

.elfooter {
  background: #222;
  padding: 50px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.elfooter div {
  padding: 10px 5px;
}

.elfooter h2 {
  color: #fff;
}

.elfooter h4 {
  color: #f2f2f2;
  font-size: 0.8rem;
    font-weight: bold;
}

.elfooter p {
  color: #ddd;
  margin: 0;
  padding: 5px;
}

.categorias {
  padding: 20px;
}

.categorias .row {
  display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    align-items: center;
}

.card-img-overlay {
  background: rgba(0,0,0,0.3);
  margin-right: 90px;
  margin-left: 0;
  transition: all 1s;
}

.card-img-overlay:hover {
  margin-right: 0;
  cursor: pointer;
}

.card {
  border:none;
}

.card-text {
  font-size: 0.8rem;
}

.destacados h2 {
  padding: 50px 0;
  padding-bottom: 0;
}

.destacados p {
  padding-bottom: 50px;
}

.btn {
  border-radius: 0;
  border: 0;
}

.btn.btn-primary {
  background: #333;
}

.destacados .btn {
  float: right;
}

.jumbotron {
  text-align: center;
}

.btn.btn-primary {
  background: #002c5e;
}

.carta p {
  background: #f2f2f2;
  padding: 5px;
  margin-bottom: 0;
  font-weight: 900;
  margin-top: 1px;
}

.card-img-overlay .card-title.h5 {
  color: #fff;
}

.filtros {
  background: #f2f2f2;
  padding: 10px;
}

.filtros h2 {
  color: #333;
  font-family: 'HyundaiSansHead-Medium',Arial,sans-serif;
  font-size: 1.25rem;
  font-weight: 100;
  margin: 0;
  padding: 3px;
  font-weight: bold;
  
}

.categorias .detalles a {
  padding: 10px 30px;
  background: #0c2d5d;
  color: #fff;
  text-align: center;
  float: right;
}
.tab-content>.active {
  padding: 20px;
  background: #f2f2f2;
  font-family: 'HyundaiSansHead-Medium',Arial,sans-serif;
}

.nav-pills .nav-link {
  border-radius: 0;
  border-bottom: 1px solid #0c2d5d;
}

.nav-pills .nav-link:hover {
  background: #f2f2f2;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #0c2d5d;
}

.nav-tabs .nav-link, .tab-content h2 {
  border-radius: 0;
  font-family: "Hyundai Sans Head","Arial",sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.25rem;
    max-width: 100%;
    color: #0c2d5d;
}

.tab-content h2 {
  font-weight: bold;
  font-size: 2rem;
}

.filtros.container h2 {
  font-weight: bold;
  color: #0c2d5d;
}

.card-title.h5 {
  text-align: center;
  font-size: 1.4rem;
}

.card-body h5 {
  text-align: center;
  font-size: 1rem;
  color: #333;
  padding: 5px;
}